STAGE=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=dinnes_db
DB_USERNAME=dinnes_user
DB_PASSWORD=dinnes_pass

AUTH_EMAIL=admin@dinnes.cl
AUTH_PASSWORD=admin123
JWT_SECRET=clave_secreta_prueba_tecnica