NODE_ENV=development
PORT=3000

# Producción: conexión completa proporcionada por Render.
DATABASE_URL=

# Desarrollo local.
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dinnes_db
DB_USERNAME=dinnes_user
DB_PASSWORD=dinnes_pass

# Solo desarrollo local.
DB_SYNCHRONIZE=true

# false para la Internal Database URL de Render.
# true si se utiliza una conexión externa que requiere SSL.
DB_SSL=false

AUTH_EMAIL=admin@dinnes.cl
AUTH_PASSWORD=admin123
JWT_SECRET=clave_secreta_prueba_tecnica

CUSTOMER_API_URL=https://jsonplaceholder.typicode.com/users
CUSTOMER_API_TIMEOUT=3000

# Ejecuta migraciones pendientes al iniciar el backend.
DB_RUN_MIGRATIONS=false